body{ text-align:center;
    background-color: cyan;}
.line{height:8px;
background-color:black;
width:150px;    
    margin:8px auto;}
img:hover{transform:scale(.8);}
#app{width:100%;}
#game{width:100%;}